* {
  margin: 0;
  padding: 0;
  color: red;
}
.box1 {
  height: 200px;
  display: flex;
  background-image: url('../images/1.jpeg');
}
.box2 {
  height: 100px;
  background-image: url('../images/2.webp');
}
.box3 {
  height: 100px;
  background-image: url('../images/3.jpg');
}
.box4 {
  height: 100px;
  background-image: url('../images/4.png');
}
.box5 {
  height: 100px;
  background-image: url('../images/5.svg');
}
.box6 {
  height: 100px;
  background-image: url('../images/6.svg');
}
.box7 {
  height: 100px;
  background-image: url('../images/7.svg');
}